.header {
  color: white;
  height: 60px;
  width: 100%;
  position: sticky;
  top: 0px;
  background-color: #4267b2;
  z-index: 1;
  box-shadow: 0px 2px 4px 0 rgba(167, 132, 247, 0.925);
  display: flex;
  justify-content: space-between;
}

.link {
  padding-left: 10px;
}
.header_logout {
  margin: 2px !important;
  color: white;
}

.header__icon {
  object-fit: contain;
  height: 50px;
  width: 50px;
  padding: 5px;
  display: flex;
}

.user_text {
  padding: 20px;
}

.user_icon {
  object-fit: contain;
  height: 50px;
  width: 50px;
  display: flex;
  padding: 5px;
}
