.message {
  margin: 10px;
  width: fit-content;
}
.message__card {
  margin: 10px;
}

.message_user_card {
  margin-left: auto;
}
.message_guest {
  background-color: gainsboro !important;
}

.message_user {
  background-color: whitesmoke !important;
}
